<div class="container mt-4">
  <div class="p-inputgroup">
    <input pInputText placeholder="Поиск изделия" [(ngModel)]="searchTerm" />
    <p-button icon="pi pi-search" severity="secondary"></p-button>
  </div>

  <div class="cards-list mt-4">
    <ng-container *ngIf="(cards | filterCards: searchTerm).length; else noData">
      <div *ngFor="let card of cards | filterCards: searchTerm" class="card-item">
        <p-card [header]="card.name" styleClass="product-card">
          <img src="http://localhost:3000/uploads/{{ card.image }}" alt="{{ card.name }}" class="product-image" />
          <p>{{ card.description }}</p>
        </p-card>
      </div>
    </ng-container>

    <ng-template #noData>
      <div class="no-data mt-4">Нет подходящих изделий</div>
    </ng-template>
  </div>
</div>
